name: CI-Build

on:
  pull_request:
    types: [opened, synchronize]
    branches: [develop, release/**]

permissions: read-all

concurrency:
  group: ${{ github.event.pull_request.number }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  PR_ID: ${{ github.event.pull_request.number }}
  COMMIT_ID: ${{ github.event.pull_request.head.sha }}

jobs:
  clone:
    name: Clone-linux
    uses: ./.github/workflows/_Clone-linux.yml
    with:
      bos_dir: Paddle-build

  build-docker:
    name: build docker images
    needs: clone
    uses: ./.github/workflows/docker.yml
    with:
      bos_dir: Paddle-build
      task: build

  build:
    name: Linux-build
    uses: ./.github/workflows/_Linux-build.yml
    needs: build-docker
    with:
      docker_build_image: ${{ needs.build-docker.outputs.docker_build_image }}

  static-check:
    name: Static-Check
    uses: ./.github/workflows/_Static-Check.yml
    needs: [build-docker, build]
    with:
      can-skip: ${{ needs.build.outputs.can-skip }}
      docker_build_image: ${{ needs.build-docker.outputs.docker_build_image }}

  ce-framework:
    name: CE-Framework
    uses: ./.github/workflows/_CE-Framework.yml
    needs: [build-docker, build]
    with:
      can-skip: ${{ needs.build.outputs.can-skip }}
      docker_build_image: ${{ needs.build-docker.outputs.docker_build_image }}

  ce-cinn-framework:
    name: CE-CINN-Framework
    uses: ./.github/workflows/_CE-CINN-Framework.yml
    needs: [build-docker, build]
    with:
      can-skip: ${{ needs.build.outputs.can-skip }}
      docker_build_image: ${{ needs.build-docker.outputs.docker_build_image }}

  api-benchmark:
    name: Api-Benchmark
    uses: ./.github/workflows/_Api-Benchmark.yml
    needs: [build-docker, build]
    with:
      can-skip: ${{ needs.build.outputs.can-skip }}
      docker_build_image: ${{ needs.build-docker.outputs.docker_build_image }}

  auto-parallel:
    name: Auto-Parallel
    uses: ./.github/workflows/_Auto-Parallel.yml
    needs: [build-docker, build]
    with:
      can-skip: ${{ needs.build.outputs.can-skip }}
      docker_build_image: ${{ needs.build-docker.outputs.docker_build_image }}

  model-benchmark:
    name: Model-Benchmark
    uses: ./.github/workflows/_Model-Benchmark.yml
    needs: [build-docker, build]
    with:
      can-skip: ${{ needs.build.outputs.can-skip }}
      docker_build_image: ${{ needs.build-docker.outputs.docker_build_image }}

  slice:
    name: Slice
    uses: ./.github/workflows/_Slice.yml
    needs: [clone, build-docker, build]
    with:
      can-skip: ${{ needs.build.outputs.can-skip }}
      docker_build_image: ${{ needs.build-docker.outputs.docker_build_image }}
      slice-check: ${{ needs.clone.outputs.slice-check }}
