name: CI

on:
  pull_request:
    types: [opened, synchronize]
    branches: [develop, release/**]

permissions: read-all

concurrency:
  group: ${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  PR_ID: ${{ github.event.pull_request.number }}
  COMMIT_ID: ${{ github.event.pull_request.head.sha }}

jobs:
  clone:
    name: Clone-linux
    uses: ./.github/workflows/_Clone-linux.yml

  sot:
    name: PR-CI-SOT
    uses: ./.github/workflows/_SOT.yml
    needs: clone

  xpu:
    name: Linux-XPU
    uses: ./.github/workflows/_Linux-XPU.yml
    needs: clone

  inference:
    name: PR-CI-Inference
    uses: ./.github/workflows/_Inference.yml
    needs: clone

  coverage:
    name: Coverage
    uses: ./.github/workflows/_Coverage.yml
    needs: clone

  cpu:
    name: Linux-CPU
    uses: ./.github/workflows/_CPU.yml
    needs: clone

  npu:
    name: Linux-NPU
    uses: ./.github/workflows/_NPU.yml
    needs: cpu
