name: CI

on:
  pull_request:
    types: [opened, synchronize]
    branches: [develop, release/**]

permissions: read-all

concurrency:
  group: ${{ github.event.pull_request.number }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  PR_ID: ${{ github.event.pull_request.number }}
  COMMIT_ID: ${{ github.event.pull_request.head.sha }}

jobs:
  clone:
    name: Clone-linux
    uses: ./.github/workflows/_Clone-linux.yml

  build-docker:
    name: build docker images
    needs: clone
    uses: ./.github/workflows/docker.yml

  sot:
    name: PR-CI-SOT
    uses: ./.github/workflows/_SOT.yml
    needs: build-docker
    with:
      docker_cpu_image: ${{ needs.build-docker.outputs.docker_cpu_image }}

  mac:
    name: Mac-CPU
    uses: ./.github/workflows/_Mac.yml
    needs: clone

  xpu:
    name: Linux-XPU
    uses: ./.github/workflows/_Linux-XPU.yml
    needs: build-docker
    with:
      docker_xpu_image: ${{ needs.build-docker.outputs.docker_xpu_image }}

  dcu:
    name: Linux-DCU
    uses: ./.github/workflows/_Linux-DCU.yml
    needs: build-docker
    with:
      docker_dcu_image: ${{ needs.build-docker.outputs.docker_dcu_image }}

  cpu:
    name: Linux-CPU
    uses: ./.github/workflows/_Linux-CPU.yml
    needs: build-docker
    with:
      docker_cpu_image: ${{ needs.build-docker.outputs.docker_distribute_image }}

  npu:
    name: Linux-NPU
    uses: ./.github/workflows/_Linux-NPU.yml
    needs: [cpu, build-docker]
    with:
      can-skip: ${{ needs.cpu.outputs.can-skip }}
      docker_npu_image: ${{ needs.build-docker.outputs.docker_npu_image }}

  distribute:
    name: Distribute-stable
    uses: ./.github/workflows/_Distribute-stable.yml
    needs: build-docker
    with:
      docker_distribute_image: ${{ needs.build-docker.outputs.docker_distribute_image }}
