name: CI-H-Coverage

on:
  pull_request:
    types: [opened, synchronize]
    branches: [develop, release/**]

permissions: read-all

concurrency:
  group: ${{ github.event.pull_request.number }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  PR_ID: ${{ github.event.pull_request.number }}
  COMMIT_ID: ${{ github.event.pull_request.head.sha }}
  TASK: paddle-CI-${{ github.event.pull_request.number }}-coverage
  ci_scripts: /paddle/ci
  BRANCH: ${{ github.base_ref }}
  work_dir: /paddle
  PADDLE_ROOT: /paddle
  GIT_PR_ID: ${{ github.event.pull_request.number }}
  CI_name: h-coverage
  CFS_DIR: /home/data/cfs
  no_proxy: "bcebos.com,apiin.im.baidu.com,gitee.com,aliyun.com,.baidu.com,.tuna.tsinghua.edu.cn"

defaults:
  run:
    shell: bash

jobs:
  clone:
    name: Coverage clone
    uses: ./.github/workflows/_Clone-linux.yml
    with:
      workflow-name: 'coverage'
      clone_dir: Paddle-coverage

  build:
    name: Coverage build
    needs: [clone]
    if: needs.clone.outputs.can-skip != 'true'
    runs-on:
      group: GZ_BD-CPU
    outputs:
      can-skip: ${{ steps.check-bypass.outputs.can-skip }}

    steps:
      - name: Check docker image and run container
        env:
          CACHE_DIR: "/root/.cache/coverage"
          CCACHE_DIR: "/root/.ccache/h-coverage"
          FLAGS_fraction_of_gpu_memory_to_use: 0.15
          CTEST_PARALLEL_LEVEL: 2
          WITH_GPU: "ON"
          CUDA_ARCH_NAME: Hopper
          WITH_AVX: "ON"
          PADDLE_VERSION: 0.0.0
          CUDA_VISIBLE_DEVICES: 0,1
          WITH_DISTRIBUTE: "ON"
          LITE_GIT_TAG: develop
          WITH_UNITY_BUILD: "ON"
          WITH_FA_BUILD_WITH_CACHE: "ON"
          PY_VERSION: "3.10"
          INFERENCE_DEMO_INSTALL_DIR: /root/.cache/coverage
          CCACHE_MAXSIZE: 200G
          CCACHE_LIMIT_MULTIPLE: 0.8
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          container_name=${TASK}-build-$(date +%Y%m%d-%H%M%S)
          echo "container_name=${container_name}" >> ${{ github.env }}
          docker_image=ccr-2vdh3abv-pub.cnc.bj.baidubce.com/paddlepaddle/paddle:cuda129-coverage-test
          docker run -d -t --name ${container_name} \
            -v "/home/data/cfs:/home/data/cfs" \
            -v "/home/data/cfs/.cache:/root/.cache" \
            -v "/home/data/cfs/.ccache:/root/.ccache" \
            -v "/dev/shm:/dev/shm" \
            -v ${{ github.workspace }}/../../..:${{ github.workspace }}/../../.. \
            -v ${{ github.workspace }}:/paddle \
            -e CI_name \
            -e BRANCH \
            -e PR_ID \
            -e COMMIT_ID \
            -e work_dir \
            -e PADDLE_ROOT \
            -e GIT_PR_ID \
            -e CACHE_DIR \
            -e CCACHE_DIR \
            -e ci_scripts \
            -e FLAGS_fraction_of_gpu_memory_to_use \
            -e CTEST_PARALLEL_LEVEL \
            -e WITH_GPU \
            -e CUDA_ARCH_NAME \
            -e WITH_AVX \
            -e PADDLE_VERSION \
            -e WITH_DISTRIBUTE \
            -e LITE_GIT_TAG \
            -e WITH_UNITY_BUILD \
            -e WITH_FA_BUILD_WITH_CACHE \
            -e PY_VERSION \
            -e INFERENCE_DEMO_INSTALL_DIR \
            -e CCACHE_MAXSIZE \
            -e CCACHE_LIMIT_MULTIPLE \
            -e GITHUB_TOKEN \
            -e GITHUB_API_TOKEN \
            -e CFS_DIR \
            -e no_proxy \
            -w /paddle --network host ${docker_image}

      - name: Download paddle.tar.gz and update test branch
        run: |
          docker exec -t ${{ env.container_name }}  /bin/bash -c '
          rm -rf * .[^.]*
          set -e
          echo "Downloading Paddle.tar.gz"
          wget -q --tries=5 --no-proxy https://paddle-github-action.bj.bcebos.com/PR/Paddle-coverage/${PR_ID}/${COMMIT_ID}/Paddle.tar.gz --no-check-certificate
          echo "Extracting Paddle.tar.gz"
          tar -xf Paddle.tar.gz --strip-components=1
          rm Paddle.tar.gz
          git config --global --add safe.directory "*"
          git remote -v
          set +e
          git remote add upstream https://github.com/PaddlePaddle/Paddle.git
          set -e
          git config pull.rebase false
          git checkout test
          echo "Pull upstream $BRANCH"
          source ${{ github.workspace }}/../../../proxy
          bash ci/git_pull.sh $BRANCH
          '

      - name: Check bypass
        id: check-bypass
        uses: ./.github/actions/check-bypass
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          workflow-name: h-ci

      - name: Build
        if: steps.check-bypass.outputs.can-skip != 'true'
        run: |
          docker exec -t ${{ env.container_name }}  /bin/bash -c '
          flashattn_version=$(git submodule status|grep flashattn|awk "{print \$1}"|sed "s#-##g")
          url="https://xly-devops.bj.bcebos.com/gpups/flash-attention/cu90/flashattn_libs_${flashattn_version}.tar"
          url_return=`curl -s -o /dev/null -w "%{http_code}" $url`
          if [ "$url_return" != "200" ];then
            echo "flashattn cache not found, please contact umiswing"
            exit 7
          fi
          mkdir -p ${CFS_DIR}/.cache/coverage
          mkdir -p ${CFS_DIR}/.ccache/coverage
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda-12.9/compat
          source ${{ github.workspace }}/../../../proxy
          pip install -r python/requirements.txt
          mkdir build && cd build
          cmake .. -DPY_VERSION=3.10 -DWITH_GPU=ON -DWITH_DISTRIBUTE=ON -DWITH_TESTING=ON -DCUDA_ARCH_NAME=Hopper -DFA_JOB_POOLS_COMPILE=1 -DWITH_CUDNN_FRONTEND=ON -DON_INFER=OFF
          make -j20
          '

      - name: Clean up env
        if: steps.check-bypass.outputs.can-skip != 'true'
        run: |
          docker exec -t ${{ env.container_name }} /bin/bash -c '
          source ~/.bashrc
          source ${ci_scripts}/utils.sh; clean_build_files
          rm -rf $(find . -name "*.a")
          rm -rf $(find . -name "*.o")
          rm -rf lib.linux-x86_64-3.9
          find ./ -name "eager_generator" -or -name  "kernel_signature_generator" -or -name "eager_legacy_op_function_generator" | xargs rm -rf
          rm -rf ./python/build/lib.linux-x86_64-3.9/
          cd "${work_dir}/build/third_party" && find $(ls | grep -v "dlpack" | grep -v "install" | grep -v "eigen3" | grep -v "gflags") -type f ! -name "*.so" -a ! -name "libdnnl.so*" -delete
          cd /
          tar --use-compress-program="pzstd -1" -cf Paddle.tar.gz paddle
          '

      - name: Upload coverage product
        if: steps.check-bypass.outputs.can-skip != 'true'
        env:
          home_path: ${{ github.workspace }}/..
          bos_file: ${{ github.workspace }}/../bos_retry/BosClient.py
          paddle_whl: paddlepaddle_gpu-0.0.0-cp310-cp310-linux_x86_64.whl
        run: |
          docker exec -t ${{ env.container_name }} /bin/bash -c '
          echo "::group::Install bce-python-sdk"
          python -m pip install bce-python-sdk==0.8.74
          echo "::endgroup::"
          export AK=paddle
          export SK=paddle
          if [ ! -f "${{ env.bos_file }}" ]; then
            wget -q --no-proxy -O ${{ env.home_path }}/bos_retry.tar.gz https://xly-devops.bj.bcebos.com/home/bos_retry.tar.gz --no-check-certificate
            mkdir ${{ env.home_path }}/bos_retry
            tar xf ${{ env.home_path }}/bos_retry.tar.gz -C ${{ env.home_path }}/bos_retry
          fi
          cd /paddle
          mv /Paddle.tar.gz .
          cp ./build/python/dist/paddlepaddle_gpu-0.0.0-cp310-cp310-linux_x86_64.whl .
          echo "Uploading Paddle.tar.gz"
          python ${{ env.bos_file }} Paddle.tar.gz paddle-github-action/PR/h-coverage/${{ env.PR_ID }}/${{ env.COMMIT_ID }}
          echo "Uploading coverage wheel"
          python ${{ env.bos_file }} ${{ env.paddle_whl }} paddle-github-action/PR/h-coverage/${{ env.PR_ID }}/${{ env.COMMIT_ID }}
          echo "End Upload"
          '

      - name: Terminate and delete the container
        if: ${{ steps.check-bypass.outputs.can-skip != 'true' && always() }}
        run: |
          set +e
          docker exec -t ${{ env.container_name }} /bin/bash -c 'rm -rf * .[^.]*'
          docker stop ${{ env.container_name }}
          docker rm ${{ env.container_name }}

  test:
    name: Coverage test
    needs: [build]
    if: needs.build.outputs.can-skip != 'true'
    runs-on:
      group: H-Coverage
    steps:
      - name: Determine the runner
        run: |
          runner_name=`(echo $PWD|awk -F '/' '{print $3}')`
          echo $runner_name
          wget -q https://xly-devops.bj.bcebos.com/utils.sh
          source utils.sh
          determine_gpu_runner ${runner_name}

      - name: Check docker image and run container
        env:
          CACHE_DIR: "/root/.cache/coverage"
          CCACHE_DIR: "/root/.ccache/coverage"
          FLAGS_fraction_of_gpu_memory_to_use: 0.15
          CTEST_PARALLEL_LEVEL: 2
          WITH_GPU: "ON"
          CUDA_ARCH_NAME: Hopper
          WITH_AVX: "ON"
          COVERALLS_UPLOAD: "ON"
          PADDLE_VERSION: 0.0.0
          WITH_DISTRIBUTE: "ON"
          WITH_UNITY_BUILD: "ON"
          PY_VERSION: "3.10"
          WITH_SHARED_PHI: "ON"
          GPU_DEVICES: ${{ env.GPU_DEVICES }}
          WITH_CINN: "ON"
          INFERENCE_DEMO_INSTALL_DIR: /root/.cache/coverage
          CCACHE_MAXSIZE: 200G
          CCACHE_LIMIT_MULTIPLE: 0.8
          FLAGS_PIR_OPTEST: "TRUE"
          ON_INFER: "ON"
          COVERAGE_FILE: ${{ github.workspace }}/build/python-coverage.data
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          container_name=${TASK}-$(date +%Y%m%d-%H%M%S)
          echo "container_name=${container_name}" >> ${{ github.env }}
          docker_image=ccr-2vdh3abv-pub.cnc.bj.baidubce.com/paddlepaddle/paddle:cuda129-coverage-test
          docker run -d -t --gpus "\"device=${GPU_DEVICES}\"" --name ${container_name} \
            -v "/home/data/cfs:/home/data/cfs" \
            -v "/home/data/cfs/.cache:/root/.cache" \
            -v "/home/data/cfs/.ccache:/root/.ccache" \
            -v "/dev/shm:/dev/shm" \
            -v ${{ github.workspace }}/../../..:${{ github.workspace }}/../../.. \
            -v ${{ github.workspace }}:/paddle \
            -e CI_name \
            -e BRANCH \
            -e PR_ID \
            -e COMMIT_ID \
            -e work_dir \
            -e PADDLE_ROOT \
            -e GIT_PR_ID \
            -e CACHE_DIR \
            -e CCACHE_DIR \
            -e ci_scripts \
            -e FLAGS_fraction_of_gpu_memory_to_use \
            -e CTEST_PARALLEL_LEVEL \
            -e WITH_GPU \
            -e CUDA_ARCH_NAME \
            -e WITH_AVX \
            -e WITH_COVERAGE \
            -e COVERALLS_UPLOAD \
            -e PADDLE_VERSION \
            -e WITH_DISTRIBUTE \
            -e WITH_UNITY_BUILD \
            -e PY_VERSION \
            -e WITH_SHARED_PHI \
            -e WITH_CINN \
            -e INFERENCE_DEMO_INSTALL_DIR \
            -e CCACHE_MAXSIZE \
            -e CCACHE_LIMIT_MULTIPLE \
            -e FLAGS_PIR_OPTEST \
            -e ON_INFER \
            -e COVERAGE_FILE \
            -e GITHUB_TOKEN \
            -e GITHUB_API_TOKEN \
            -e CFS_DIR \
            -e no_proxy \
            -w /paddle --network host ${docker_image}

      - name: Download paddle.tar.gz and update test branch
        run: |
          docker exec -t ${{ env.container_name }} /bin/bash -c '
          rm -rf * .[^.]*
          set -e
          echo "Downloading Paddle.tar.gz from cfs"
          wget -q --tries=5 --no-proxy https://paddle-github-action.bj.bcebos.com/PR/h-coverage/${PR_ID}/${COMMIT_ID}/Paddle.tar.gz --no-check-certificate
          echo "Extracting Paddle.tar.gz"
          tar --use-compress-program="pzstd -1" -xf Paddle.tar.gz --strip-components=1
          rm Paddle.tar.gz
          '

      - name: Test
        run: |
          docker exec -t ${{ env.container_name }} /bin/bash -c '
          source ${{ github.workspace }}/../../../proxy
          pip install build//python/dist/*.whl --no-deps
          pip install -r python/unittest_py/requirements.txt
          bash $ci_scripts/h-test.sh
          '

      - name: Terminate and delete the container
        if: always()
        run: |
          set +e
          rm Paddle.tar.gz
          docker exec -t ${{ env.container_name }} /bin/bash -c 'rm -rf * .[^.]*'
          docker stop ${{ env.container_name }}
          docker rm ${{ env.container_name }}
